/* background image */

.background {
  background-image: url("../../images/unitiebgmgif2.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}
@media only screen and (max-width: 768px) {
  .background {
    background-image: none;
    background-color: pink;
    height: 750px;
  }
}

/* Navigatipon Bar */
.topbar {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .topbar {
    /* display:flex;
      justify-content:space-around;
      width:80%;
      margin: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
}
/* Left side that is logo and unitie text */
.left {
  display: flex;
  align-items: center;
}
.tagline {
  margin-top: 1.5%;
  margin-left: 1%;
  margin: 1rem;
  font-size: 200%;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  transition: transform 0.2s;
}

.tagline:hover {
  transform: scale(1.1);
  color: gold;
  cursor: pointer;
}
.logo {
  height: 60px;
  width: 60px;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 250%;
}
.logo:hover {
  animation: rotate-rev 0.7s linear;
  cursor: pointer;
}

@keyframes rotate-rev {
  to {
    transform: rotate(-360deg);
  }
}

/* right size of nav bar that is about and all */
.right {
  display: flex;
  align-items: center;
}
.about {
  font-size: 20px;
  size: 100px;
  color: rgb(254, 254, 254);
  font-family: "Playfair Display", serif;
  margin: 1rem;
  margin-right: 2rem;
  transition: transform 0.2s;
  font-weight: bold;
}
.about:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* Login form  */
.login {
  /* position: absolute; */
  margin-left: 65%;
  margin-top: 7%;
  padding: 30px;
  background: rgba(168, 132, 132, 0.25);
  backdrop-filter: blur(15px);
  /* border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  height: 530px;
  gap: none;
  box-shadow: 7px 7px 60px #000;
  font-family: "Playfair Display", serif;
}
@media only screen and (max-width: 768px) {
  .login {
    height: 530px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    margin: auto;
  }
}
.login h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.login .inputBox {
  position: relative;
}
.login .inputBox input {
  position: relative;
  width: 100%;
  padding: 5px 3px;
  font-size: 1.25em;
  color: #986865;
  border-radius: 5px;
  background: rgb(255, 223, 223);
  margin-bottom: 30px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 80px #000;
}
.login .inputBox ::placeholder {
  color: #4e4a4a;
}
.login .inputBox #btn {
  position: relative;
  border: none;
  outline: none;
  background: #ea6363;
  color: rgb(48, 32, 32);
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.5s;
  box-shadow: 7px 7px 60px #000;
}
.login .inputBox #btn :hover {
  background: #d64c42;
}
.login .group {
  display: flex;
  justify-content: space-between;
}
.login .group a {
  font-size: 1.25em;
  color: #4c48b8;
  font-weight: 500;
  text-decoration: none;
}
.login .group p {
  font-size: 1.25em;
  color: #8f2c24;
  font-weight: 500;
  text-decoration: none;
}
.login .group a:nth-child(2) {
  text-decoration: underline;
}
.login .images {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  /* justify-content: left; */
}
.login .images .google {
  height: 25px;
  margin-left: 5%;
}
.login .images .google:hover {
  animation: rotate-rev 0.2s linear;
  cursor: pointer;
}

@keyframes rotate-rev {
  to {
    transform: rotate(-360deg);
  }
}
.login .images .fb {
  height: 25px;
  margin-left: 7%;
}
.login .images .fb:hover {
  animation: rotate-rev 0.2s linear;
  cursor: pointer;
}

@keyframes rotate-rev {
  to {
    transform: rotate(-360deg);
  }
}
form {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {

.about
{
font-size: 10px;
}

}

@media only screen and (max-width: 768px) {
.about
{

font-size: 10px;
}

}